---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import Hero from '../components/Hero';
import ServicesSection from '../components/ServicesSection';
import MethodsSection from '../components/MethodsSection';
import ServicesBanner from '../components/ServicesBanner';
import ContactPageLink from '../components/ContactPageLink';
import Footer from '../components/Footer';
---

<Layout title="LumerLabs - Building the Future with AI and Strategy">
	<Navbar client:load />
	<main>
		<Hero client:load />
		<ServicesSection client:load />
		<MethodsSection client:load />
		<ServicesBanner client:load />
		<ContactPageLink client:load />
	</main>
	<Footer client:load />
</Layout>
